@using Hospital.Web.Controllers
@using Hospital.Web.Models
@using Hospital.Web.EfModels
@inject InitParam initParam

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bệnh viện 7C</title>

    <link href="~/lib/kendo-2018.3/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-2018.3/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="~/lib/kendo-2018.3/kendo.material.min.css" rel="stylesheet" />

    <script src="~/lib/kendo-2018.3/jquery.min.js"></script>
    <script src="~/lib/kendo-2018.3/jszip.min.js"></script>
    <script src="~/lib/kendo-2018.3/kendo.all.min.js"></script>
    <script src="~/lib/kendo-2018.3/kendo.aspnetmvc.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />



    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/Feedback.css" rel="stylesheet" />

    <link href="~/css/benhvien.css" rel="stylesheet" />

    @RenderSection("css", required: false)

</head>
<body>

    <div class="preloader">
        <img src="~/images/img/preloader.gif" alt="">
    </div>
    <!-- header Area Start-->
    <header>
        <div class="header_top_area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-12">
                        <div class="htl">
                            <h1 class="tilte_BenhVien">QUÂN DÂN Y MIỀN ĐÔNG</h1>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12 text-right">
                        <div class="htr">
                            <a href="#" class="htr_single_contact"><i class="zmdi zmdi-phone"></i>0865399988</a>
                            <a href="#" class="htr_single_contact"><i class="zmdi zmdi-email"></i>quandanymiendong@gmail.com</a>
                            <ul class="htr_language">
                                <li>
                                    @{
                                        var listNgonNgu = (List<NgonNgu>)ViewBag.ListNgonNgu;
                                        var selectNgonNguId = (int)ViewBag.NgonNgu;
                                        var selectNgonNguItem = listNgonNgu.FirstOrDefault(h => h.Id == selectNgonNguId);
                                    }
                                    <a>@selectNgonNguItem.TenNgonNgu<i class="zmdi zmdi-caret-down"></i></a>
                                    <ul>

                                        @foreach (var ngonNgu in listNgonNgu)
                                        {
                                            <li><a href="#" class="bv-ngon-ngu @(ngonNgu.Id == selectNgonNguId ? "bv-select" : "" )" data-ngon-ngu-id="@ngonNgu.Id">@ngonNgu.TenNgonNgu</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <style>
                                .bv-ngon-ngu {
                                    white-space: nowrap;
                                    margin-right: 5px;
                                }

                                    .bv-ngon-ngu.bv-select {
                                        color: red;
                                    }
                            </style>
                            <script>
                                $(document).ready(function () {
                                    $(".bv-ngon-ngu").click(function (e) {
                                        e.preventDefault();

                                        var $item = $(this);
                                        var ngonNguId = $item.data("ngon-ngu-id");
                                        var currentUrl = window.location.href;

                                        $.ajax({
                                            url: '@Url.Action("NgonNgu","Homes")',
                                            type: 'POST',
                                            data: {
                                                ngonNguId: ngonNguId
                                            },
                                            error: function (arg1, arg2, arg3) {
                                                //handleErrorAjaxCall(arg1, arg2, arg3);
                                            },
                                            success: function (data) {
                                                location.reload();
                                            },
                                            //beforeSend: beforeSend_passAuthorize
                                        });
                                    })
                                })
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-6">
                        <a href="#" class="site_logo">
                            <img src="~/images/HinhAnhTinh/testlogo.png" />
                        </a>
                    </div>
                    <div class="col-lg-10 text-center col-6 ">
                        <nav class="menu_bar">
                            @{
                                var listMenu = await MenuHelper.GetListMenuAsync(initParam, (int)ViewBag.NgonNgu);
                            }
                            <partial name="_MenuPartial" model="listMenu" />
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--Content here-->
    <div class="container">
        @RenderBody()
    </div>
    <!-- Footer Area Start-->
    <footer>
        <div class="footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_content_box">
                            <div class="footer_logo">
                                <img src="~/images/HinhAnhTinh/testlogo.png" width="200" />
                            </div>
                            <b>BỆNH VIỆN QUÂN DÂN MIỀN ĐÔNG</b>
                            <ul class="footer_contact_inf">
                                <li><a href="#"><i class="zmdi zmdi-phone"></i> 08. 38 960 054</a></li>
                                <li><a href="#"><i class="zmdi zmdi-email"></i> quandanmiendong@gmail.com</a></li>
                                <li>
                                    <i class="zmdi zmdi-pin"></i><span>
                                        Địa chỉ: 50 Lê Văn Việt, P.Hiệp Phú, Q.9, TP.HCM
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_widget">
                            <h4>Liên kết dịch vụ</h4>
                            <ul class="widget_menu">
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Phòng khám nhi</a></li>
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Phòng khám chẩn đoán</a></li>
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Phòng khám tim mạch</a></li>
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Phòng phân tích thí nghiệm</a></li>
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Phòng khám phụ khoa</a></li>
                                <li><a href="#"><i class="zmdi zmdi zmdi-star"></i> Tư vấn tâm lý</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_widget">
                            <h4>Liên kết</h4>
                            <ul class="widget_menu">
                                <li>
                                    <a asp-action="@nameof(HomesController.About)"
                                       asp-controller="@nameof(HomesController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Giới thiệu</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(DichVusController.Index)"
                                       asp-controller="@nameof(DichVusController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Dịch vụ</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(DanhMucBacSisController.Index)"
                                       asp-controller="@nameof(DanhMucBacSisController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Bác sĩ</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(KhoaPhongsController.Index)"
                                       asp-controller="@nameof(KhoaPhongsController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Khoa phòng</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(HenKhamBenhsController.Index)"
                                       asp-controller="@nameof(HenKhamBenhsController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Đặt lịch khám</a>
                                </li>
                                <li>
                                    <a asp-action="@nameof(HomesController.Contact)"
                                       asp-controller="@nameof(HomesController).Replace("Controller","")"><i class="zmdi zmdi zmdi-star"></i>Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-12">
                        <div class="footer_widget">
                            <h4>Liên hệ</h4>
                            <ul class="widget_menu">
                                <li><a href="#"><i class="zmdi zmdi-facebook"></i> Facebook</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_area">
            <div class="container">
                <span>Copyright © 2013 Quan Dan Mien Dong Hospital. Alright reserved. </span><a href="#">
                    <img src="~/images/face-icon.png" alt="Facebook" />
                </a>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <link href="~/css/responsive.css" rel="stylesheet" />

    <script src="~/js/active.js"></script>
    <script type="text/javascript">
        function add_chatinline() { var hccid = 32478947; var nt = document.createElement("script"); nt.async = true; nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid; var ct = document.getElementsByTagName("script")[0]; ct.parentNode.insertBefore(nt, ct); }
        add_chatinline();</script>



</body>

</html>

