@model Hospital.Web.EfModels.DichVuChiTiet
@using Hospital.Web.Controllers
@using Hospital.Web.EfModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Chi tiết dịch vụ";
}
@section css {
    <link href="~/css/DichVuKhac.css" rel="stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>@Model.TenDichVu </h1>
            </div>
        </div>
    </div>
</div>

<!-- ServiceDetailss Area Start-->
<div class=" about_page">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.GioiThieu))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="about_content">
                        <p style="font-weight:bold">@Html.Raw(Model.GioiThieu)</p>
                    </div>
                </div>
            </div>
        }
        <div>
            @Html.Raw(Model.NoiDung)
            <br />
        </div>
    </div>
</div>
<h1 class="header_DV">
    Dịch vụ khác
</h1>
<hr />

<ul>
    @foreach (var dichVu in (ViewBag.lsDichVuCT as List<DichVuChiTiet>))
    {
        <li>
            <a asp-action="@nameof(DichVusController.Details)"
               class="dichVuKhac"
               asp-controller="@nameof(DichVusController).Replace("Controller","")"
               asp-route-id="@dichVu.Id">
                <i class="zmdi zmdi-badge-check icon"></i> <span>@dichVu.TenDichVu</span>
            </a>
        </li>

    }
</ul>
@section scripts {

}
