@model List<Hospital.Web.EfModels.DichVuChiTiet>
@using Hospital.Web.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dịch vụ";
}
@section css {
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Dịch vụ</h1>
               
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Service Area Start-->
<div class="service_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <div class="col-lg-6 col-md-8 text-center">
                <div class="section_title">
                    <h1>Dịch vụ của chúng tôi</h1>
                    <p>Các dịch vụ chăm sóc sức khỏe người bệnh</p>
                </div>
            </div>

        </div>


        <div class="row">
            @foreach (var dichVuChiTiet in Model)
            {
                <div class="col-md-4">
                    <a asp-action="@nameof(DichVusController.Details)"
                       asp-controller="@nameof(DichVusController).Replace("Controller", "")"
                       asp-route-id="@dichVuChiTiet.Id"
                       target="_blank" class="single_service">
                        <div class="service_icon"> <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=dichVuChiTiet.HinhAnh })" /></div>
                        <h4>
                            @dichVuChiTiet.TenDichVu
                        </h4>
                    </a>
                </div>
            }

        </div>
    </div>
</div>

@section scripts {
}
