@model List<Hospital.Web.EfModels.KhoaPhong>
@using Hospital.Web.Controllers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Phòng ban";
}
@section css {
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Chuyên khoa</h1>
                <div class="breadcroumb_link">
                    <a asp-action="@nameof(HomesController.Index)"
                       asp-controller="@nameof(HomesController).Replace("Controller","")">Trang chủ</a>/ Chuyên khoa
                </div>
            </div>
        </div>
    </div>
</div>
<div class="depertment_area depertment_page_area">
    <div class="container">
        <div class="title_bar">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="depertment_title">
                        <h2>Các khoa của bệnh viện</h2>
                    </div>
                </div>
                <div class="col-md-6  text-right">
                    <form action="#" class="dept_search_bar">
                        <input type="search" placeholder="Khoa bạn muốn tìm">
                        <button type="submit"><i class="zmdi zmdi-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="custom_row text-center justify-content-center">
            @foreach (var khoaPhong in Model)
            {
                <div class="custom_col">
                    <div class="single_dept">
                        <a asp-action="@nameof(KhoaPhongsController.Details)" 
                           asp-controller="@nameof(KhoaPhongsController).Replace("Controller","")" 
                           asp-route-id="@khoaPhong.Id"
                           target="_blank">@khoaPhong.TenKhoaPhong</a>

                        <div class="dept_img">
                            <img src="~/images/img/dept_icon1.png" alt="">
                           @* <img src="@Url.Content(Hospital.Web.Models.Constants.FOLDER_IMAGE_KHOA_PHONG + khoaPhong.HinhAnhDaiDien)" />*@
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
@section scripts {
}
