@model Hospital.Web.EfModels.HoatDong
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Hoạt động chi tiết";
}

@section css {

    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col tieude_DT">
                <h1>@Model.TieuDe</h1>
            </div>
        </div>
    </div>
</div>

<div class=" about_page">
    <div class="container">
        @if (!string.IsNullOrWhiteSpace(Model.GioiThieu))
        {
            <div class="row">
                <div class="col-lg-12">
                    <div class="about_content">
                        <p style="font-weight:bold">@Html.Raw(Model.GioiThieu)</p>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.Raw(Model.NoiDung)
            <br />
        </div>

    </div>
</div>

<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog_detaisl_area">
                    <div class="blog_full_content">
                        <h4>@Model.TieuDe</h4>
                        <div class="blog_meta">
                            <a href="#">@Model.NgayTao?.ToString("dd/MM/yy hh:mm:ss")</a>
                        </div>
                        <div class="blog_quote">
                            <p>@Model.GioiThieu</p>
                        </div>
                        <p>
                            @Html.Raw(Model.NoiDung) <br>
                            <br>
                            <br>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {

}
