@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model X.PagedList.IPagedList<Hospital.Web.EfModels.Event>
@using Hospital.Web.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Sự kiện";
}
@section css {
    <link href="~/css/PagedList.css" rel="stylesheet" />
}
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Sự kiện nổi bật</h1>
              
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- Blog page Area Start-->
<div class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 order-md-12">
                <div class="row">

                    @foreach (var sukien in Model)
                    {
                        <div class="col-md-6">
                            <div class="single_blog">
                                <div class="blog_img">
                                    <img class="img_index" src="@Url.Action("GetImage" ,"ImageBrowser",new {id=sukien.HinhAnh })" alt="">
                                </div>
                                <div class="blog_content">
                                    <div class="blog_meta">
                                        <a class="date" asp-action="@nameof(EventsController.Details)"
                                           asp-controller="@nameof(EventsController).Replace("Controller","")"
                                           asp-route-id="@sukien.Id"
                                           target="_blank">@sukien.NgayTao?.ToString("dd/MM/yy hh:mm:ss")</a>
                                        <a href="#" class="comment_box">
                                            <i class="zmdi zmdi-comments"></i> 0
                                        </a>
                                    </div>
                                    <h4>
                                        <a asp-action="@nameof(EventsController.Details)"
                                           asp-controller="@nameof(EventsController).Replace("Controller","")"
                                           asp-route-id="@sukien.Id"
                                           target="_blank">@sukien.TieuDe</a>
                                    </h4>
                                    <p asp-action="@nameof(EventsController.Details)"
                                       asp-controller="@nameof(EventsController).Replace("Controller","")"
                                       asp-route-id="@sukien.Id"
                                       target="_blank">@sukien.GioiThieu</p>
                                    <a class="read_btn" asp-action="@nameof(EventsController.Details)"
                                       asp-controller="@nameof(EventsController).Replace("Controller","")"
                                       asp-route-id="@sukien.Id"
                                       target="_blank">Xem thêm<i class="zmdi zmdi-plus"></i></a>
                                </div>
                            </div>

                        </div>
                    }
                    <div class="col-md-6">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog page Area End-->
