@model Hospital.Web.Models.HomeModel


@using Hospital.Web.Controllers
@{
    ViewBag.Title = "Trang chủ";
}
@section css {
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link href="~/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/slicknav.min.css" rel="stylesheet" />
    <link href="~/css/nice-select.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/trang-chu.css" rel="stylesheet" />
}

<div class="welcome_areaa" style="background-image: url(../images/img/welcome_shap.png);">
    <div class="container">
        <div class="welcome_slider owl-carousel">
            @foreach (var slide in Model.lsSLide)
            {
                <div class="single_welcome_slider">
                    <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=slide.HinhAnh })" />
                </div>
            }
        </div>
    </div>
</div>
<!-- Welcome Area End-->
<!-- Cbox Area Start-->

<div class="cbox_area">
    <div class="container">
        <div class="row">
            @foreach (var subNote in Model.lsSubNote)
            {
                <div class="col-md-3">
                    <div class="single_cbox">
                        <div class="cbox_title">
                            <div class="cbox_icon"><img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=subNote.Image })" /></div>
                            <a asp-action="@nameof(HenKhamBenhsController.Index)"
                               asp-controller="@nameof(HenKhamBenhsController).Replace("Controller", "")">
                                <h4>@subNote.TieuDe</h4>
                            </a>
                        </div>
                        <p>
                            @subNote.NoiDung
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container" style="background-color:#016ca0;">
    <div class="row">
        <div class="col-lg-3 cc">
            <img src="~/images/icon-slider.jpg" />
        </div>
        <div class="col-lg-9">
            @foreach (var subPhone in Model.lsSubPhone)
            {
                <div class="col-lg-3 cc"> 
                    <h2>@subPhone.Name</h2>
                    <h3><b>@subPhone.SoDienThoai</b></h3>
                </div>

            }
        </div>
    </div>

</div>
<!-- Cbox Area end-->
<!-- About Area Start-->
<div class="about_area ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="about_content">
                    <div class="col background_grey">
                        <div class="section_title">
                            <h1>Hoạt động</h1>
                        </div>
                        <div class="latest_news">
                            @foreach (var hoatdong in Model.lsHoatDong)
                            {
                                <a asp-action="@nameof(HoatDongsController.Details)"
                                   asp-controller="@nameof(HoatDongsController).Replace("Controller","")"
                                   asp-route-id="@hoatdong.Id"
                                   target="_blank" class="single_latest_news">
                                    <span class="l_img">
                                        <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=hoatdong.HinhAnhMinhHoa })" />
                                    </span>
                                    <h5 class="tieude-TT">
                                        @hoatdong.TieuDe
                                    </h5>
                                    <span>@hoatdong.NgayTao?.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    <p>
                                        @hoatdong.GioiThieu
                                    </p>
                                </a>
                                <hr />
                            }
                        </div>
                        <a asp-action="@nameof(HoatDongsController.Index)"
                           class="add"
                           asp-controller="@nameof(HoatDongsController).Replace("Controller","")">
                            <div class="button">
                                Xem thêm
                            </div>
                        </a>
                    </div>
                </div>

                <div class="about_content">
                    <div class="col background_grey">
                        <div class="section_title">
                            <h1>Tin tức mới nhất</h1>
                        </div>
                        <div class="latest_news">
                            @foreach (var tinTuc in Model.lsTinTuc)
                            {
                                <a asp-action="@nameof(TinTucsController.Details)"
                                   asp-controller="@nameof(TinTucsController).Replace("Controller","")"
                                   asp-route-id="@tinTuc.Id"
                                   target="_blank" class="single_latest_news">
                                    <span class="l_img">
                                        <img src="@Url.Action("GetImage" ,"ImageBrowser",new {id=tinTuc.HinhAnhMinhHoa })" />
                                    </span>
                                    <h5 class="tieude-TT">
                                        @tinTuc.TieuDe
                                    </h5>
                                    <span>@tinTuc.NgayTao?.ToString("dd/MM/yyyy HH:mm:ss")</span>
                                    <p>
                                        @tinTuc.GioiThieu
                                    </p>
                                </a>
                                <hr />

                            }
                        </div>
                        <a asp-action="@nameof(TinTucsController.Index)"
                           class="add"
                           asp-controller="@nameof(TinTucsController).Replace("Controller","")">
                            <div class="button">
                                Xem thêm
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 list_video">
                <div>
                    <h1 class="section_title_video">Video</h1>
                </div>
                <ul>
                    @foreach (var video in Model.lsVideo)
                    {
                        <li class="youtube_video">
                            <iframe src="https://www.youtube.com/embed/@video.DuongDanFile" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </li>
                    }
                </ul>
                <hr />

            </div>
        </div>
    </div>
</div>
<!-- News Area Start-->
@section scripts {
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/waypoint.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>


}
